<hmtl>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  </head>
  <body>
    <div class='container'>
    <h1 class='text-center mt-2' style='margin-bottom:50px;'>Company Name</h1>

    <h3 class='text-center mt-2' style='margin-bottom:100px;'>Our Products</h3>
      <div>
        {% for product in products %}
          {% include 'productitem.html' %}
          

        {% endfor %}
      </div>


  </body>
</hmtl>